[bumpversion]
current_version = 0.2.5
commit = True
tag = True
tag_name = {new_version}
message = Bump version to {new_version}
files = ./src/wavaugmentate/wavaug.py pyproject.toml README.md ./docs/index.rst

[file:src/wavaugmentate/wavaug.py]
search = __version__ = \"(?P<current_version>\d+\.\d+\.\d+)\"
replace = __version__ = \"{new_version}\"

[file:pyproject.toml]
search = version = \"(?P<current_version>\d+\.\d+\.\d+)\"
replace = version = \"{new_version}\"

[file:README.md]
search = Wavaugmentate (?P<current_version>\d+\.\d+\.\d+)
replace = Wavaugmentate {new_version}

[file:/home/igor/Plastov/wavaugmentate/docs/index.rst]
search = Wavaugmentate (?P<current_version>\d+\.\d+\.\d+)
replace = Wavaugmentate {new_version}
