
outputwav/out.wav
__pycache__/mcsaugment.cpython-39.pyc
test_sounds/test_sound_1.wav
test_sounds/test_sound_1_ac.wav
test_sounds/test_sound_1_noise.wav
test_sounds/test_sound_1_delay.wav
test_sounds/test_sound_1_echo.wav
__pycache__/test_mcsaugment.cpython-39-pytest-7.4.3.pyc
__pycache__/wavaugmentate.cpython-39.pyc
__pycache__/test_wavaugmentate.cpython-39-pytest-7.4.3.pyc
__pycache__/test_wavaugmentate.cpython-39-pytest-7.4.3.pyc
__pycache__/test_wavaugmentate.cpython-39-pytest-7.4.3.pyc
__pycache__/test_wavaugmentate.cpython-39-pytest-7.4.3.pyc
__pycache__/test_wavaugmentate.cpython-39-pytest-7.4.3.pyc
sound.wav
sound_delayed.wav
__pycache__/test_wavaugmentate.cpython-311-pytest-8.3.2.pyc
__pycache__/wavaugmentate.cpython-311.pyc